.sho-menu__categories-bar
    display: none
    gap: 5px
    align-items: center
    margin-bottom: 6px
    padding: 6px 0
    position: sticky
    overflow-x: auto
    top: 0
    background-color: white
    z-index: 10

    .admin-bar &
        top: 32px

    &::-webkit-scrollbar
        height: 1px

    &::-webkit-scrollbar-thumb
        background: #e3e3e3

    &__item
        border-radius: 8px
        padding: 6px 15px
        border: 1px solid #dcdcdc
        text-transform: uppercase
        font-family: "Montserrat-Bold", sans-serif
        font-size: .9em
        white-space: nowrap

        &--is-selected
            border-color: $gold-color
            color: $gold-color

@media (max-width: 810px)
    .sho-menu__categories-bar
        display: flex

@media (max-width: 782px)
    .sho-menu__categories-bar
        .admin-bar &
            top: 46px

@media (max-width: 600px)
    .sho-menu__categories-bar
        .admin-bar &
            top: 0