.sho-menu__designations
    display: flex
    flex-direction: column
    gap: 3px
    margin-top: 5px

    &__item
        display: inline-flex
        align-items: center
        gap: 10px

        span
            font-size: .8em
            color: #7c7c7c