.sho-menu__designations
    display: flex
    flex-wrap: wrap
    gap: 9px
    margin-top: 5px

    &__item
        display: inline-flex
        align-items: center
        gap: 10px
        border: 1px solid #8080804a
        border-radius: 9px
        padding: 3px 9px

        span
            font-size: .8em
            color: #7c7c7c

            .sho-dark-theme &
                color: #a9a9a9

        &--red
          color: brown !important
