.sho-menu__dishes
    width: 100%

    &.sho-menu--show
        display: flex !important

    &__section
        border-radius: $dishes-radius
        border: 1px solid #eee
        margin-bottom: 15px

@media (max-width: 810px)
    .sho-menu__dishes
        display: none