.sho-menu__dishes
    display: flex
    flex-direction: column
    gap: 15px
    width: 100%

    &.sho-menu--show
        display: flex !important

    &__section
        border-radius: $dishes-radius
        border: 1px solid #eee

@media (max-width: 810px)
    .sho-menu__dishes
        display: none