.sho-menu__dishes__item
    padding: $dishes-padding
    display: flex
    gap: 10px
    cursor: pointer
    border-bottom: 1px solid #eee
    position: relative

    .sho-dark-theme &
        border-color: $dark-border-color

    &:hover .sho-menu__dishes__item__edit
        opacity: .8

    &:hover
        background-color: #f9f9f9

        .sho-dark-theme &
            background-color: $dark-bg-hover

    &:last-child
        border-bottom: none

    &__content
        width: 100%

        h3
            @include dish-title-lg

    &__price
        @include dish-price

    &__description
        @include dish-description

    &__weight
        @include dish-weight

    &__image
        width: 170px

        img
            border-radius: 8px
            display: block
            max-width: 100%

@media (max-width: 810px)
    .sho-menu__dishes__item
        &__content
            h3
                @include dish-title-sm

        &__image
            width: 150px

@media (max-width: 440px)
    .sho-menu__dishes__item
        flex-direction: column-reverse

        &__image
            margin-left: auto
            margin-right: auto
