.sho-menu__dishes__item
    padding: $dishes-padding
    display: flex
    gap: 8px
    cursor: pointer
    border-bottom: 1px solid #eee
    position: relative

    &:hover .sho-menu__dishes__item__edit
        opacity: .8

    &:last-child
        border-bottom: none

    &__edit
        position: absolute
        right: 7px
        top: 7px
        color: black
        background-color: white
        width: 35px
        height: 35px
        display: flex
        justify-content: center
        align-items: center
        border-radius: 50%
        padding: 3px
        border: 1px solid black
        opacity: 0

        &:hover
            color: $gold-color
            border-color: $gold-color

    &__content
        width: 100%

        h3
            font-family: "Montserrat-Bold", serif
            margin: 0

    &__price
        font-family: "Montserrat-Bold", serif
        color: $gold-color

    &__description
        font-size: .9rem
        margin: 3px 0

        p:last-child
            margin: 0

    &__weight
        font-size: .7em
        color: #666
        display: inline-flex
        align-items: center
        gap: 4px
        margin-top: 4px

    &__image
        width: 170px

        img
            border-radius: 8px
            display: block
            max-width: 100%