@font-face {
  font-family: "Montserrat-Bold";
  src: url("fonts/Montserrat-Bold.woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("fonts/Montserrat-Regular.woff");
  font-style: normal;
  font-display: swap;
}
.sho-menu__sidebar {
  min-width: 200px;
  position: sticky;
  top: 35px;
  max-height: calc(100vh - 35px);
  overflow: auto;
  background-color: white;
}
.sho-menu__sidebar::-webkit-scrollbar {
  width: 1px;
}
.sho-menu__sidebar__label {
  color: #777;
  margin-bottom: 7px;
  display: inline-block;
}
.sho-menu__sidebar > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sho-menu__sidebar > ul > li {
  font-weight: bold;
  color: #424242;
  cursor: pointer;
  transition: color 0.3s;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  margin-bottom: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Montserrat-Bold", serif;
  line-height: 1.2;
}
.sho-menu__sidebar > ul > li > svg {
  display: none;
}
.sho-menu__sidebar > ul > li.is-selected {
  color: #a57315;
}
.sho-menu__sidebar > ul > li:hover {
  color: #a57315;
}
.sho-menu__sidebar > ul > li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.sho-menu__sidebar > ul > li ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 15px;
}
.sho-menu__sidebar > ul > li ul li {
  color: black;
  font-weight: bold;
  font-size: 0.75em;
  padding: 3px 0;
  font-family: "Montserrat-Regular", serif;
}
.sho-menu__sidebar > ul > li ul li.is-selected {
  color: #a57315;
}
.sho-menu__sidebar > ul > li ul li:hover {
  color: #a57315;
}
.sho-menu__sidebar > ul > li ul li:last-child {
  margin-bottom: 0;
}

@media (max-width: 810px) {
  .sho-menu__sidebar {
    min-width: 100%;
    overflow: visible;
  }
  .sho-menu__sidebar--hide {
    display: none;
  }
  .sho-menu__sidebar > ul > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 18px !important;
    font-size: 1.2em;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
  }
  .sho-menu__sidebar > ul > li > svg {
    display: inline-block;
  }
  .sho-menu__sidebar > ul > li ul {
    display: none;
  }
}
.sho-menu__dishes {
  width: 100%;
}
.sho-menu__dishes__section {
  border-radius: 15px;
  border: 1px solid #eee;
  margin-bottom: 15px;
}

@media (max-width: 810px) {
  .sho-menu__dishes {
    display: none;
  }
  .sho-menu__dishes--show {
    display: block;
  }
}
.sho-menu__dishes__category {
  text-align: center;
  background-color: #f5f5f5;
  padding: 16px;
  border-radius: 15px 15px 0 0;
}
.sho-menu__dishes__category h2 {
  font-family: "Montserrat-Bold", serif;
  font-size: 1.5rem;
  margin: 0;
}
.sho-menu__dishes__category p {
  font-size: 0.9rem;
  margin: 0;
}

.sho-menu__dishes__item {
  padding: 16px;
  display: flex;
  gap: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  position: relative;
}
.sho-menu__dishes__item:hover .sho-menu__dishes__item__edit {
  opacity: 0.8;
}
.sho-menu__dishes__item:last-child {
  border-bottom: none;
}
.sho-menu__dishes__item__edit {
  position: absolute;
  right: 7px;
  top: 7px;
  color: black;
  background-color: white;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 3px;
  border: 1px solid black;
  opacity: 0;
}
.sho-menu__dishes__item__edit:hover {
  color: #a57315;
  border-color: #a57315;
}
.sho-menu__dishes__item__content {
  width: 100%;
}
.sho-menu__dishes__item__content h3 {
  font-family: "Montserrat-Bold", serif;
  margin: 0;
}
.sho-menu__dishes__item__price {
  font-family: "Montserrat-Bold", serif;
  color: #a57315;
}
.sho-menu__dishes__item__description {
  font-size: 0.9rem;
  margin: 3px 0;
}
.sho-menu__dishes__item__description p:last-child {
  margin: 0;
}
.sho-menu__dishes__item__weight {
  font-size: 0.7em;
  color: #666;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  margin-top: 4px;
}
.sho-menu__dishes__item__image {
  width: 170px;
}
.sho-menu__dishes__item__image img {
  border-radius: 8px;
  display: block;
  max-width: 100%;
}

.sho-menu {
  background-color: #fff;
  font-family: "Montserrat-Regular", serif;
  position: relative;
}
.sho-menu__show-sidebar-btn {
  color: black;
  font-size: 1.5em;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #606060;
  margin-bottom: 10px;
}
.sho-menu__header img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sho-menu__columns {
  display: flex;
  gap: 14px;
  padding: 10px;
}

@media (max-width: 800px) {
  .sho-menu__header img {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
