.sho-menu__sidebar {
  min-width: 200px;
}
.sho-menu__sidebar__label {
  color: #777;
  margin-bottom: 7px;
  display: inline-block;
}
.sho-menu__sidebar > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sho-menu__sidebar > ul > li {
  font-weight: bold;
  color: #424242;
  cursor: pointer;
  transition: color 0.3s;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  margin-bottom: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sho-menu__sidebar > ul > li.is-selected {
  color: #a57315;
}
.sho-menu__sidebar > ul > li:hover {
  color: #a57315;
}
.sho-menu__sidebar > ul > li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.sho-menu__sidebar > ul > li ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 15px;
}
.sho-menu__sidebar > ul > li ul li {
  color: black;
  font-weight: bold;
  font-size: 0.75em;
  padding: 3px 0;
}
.sho-menu__sidebar > ul > li ul li.is-selected {
  color: #a57315;
}
.sho-menu__sidebar > ul > li ul li:hover {
  color: #a57315;
}
.sho-menu__sidebar > ul > li ul li:last-child {
  margin-bottom: 0;
}

.sho-menu {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 15px;
}
.sho-menu__header img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sho-menu__columns {
  display: flex;
  gap: 14px;
  padding: 10px 20px;
}
