.sho-recommended-dishes
    position: relative

    input
        width: 100%

    &__loading
        margin: 10px
        display: flex
        align-items: center
        justify-content: center

    &__list
        margin: 9px 0 0 0
        font-size: .9rem

        li
            border: 1px solid #c6c6c6
            padding: 3px 7px
            border-radius: 5px
            background-color: #fffaf0

            &.has-been-saved
                background-color: #f2fff0

            &:last-child
                margin: 0

    &__dropdown
        background: white
        border-radius: 0 0 8px 8px
        box-shadow: 0 4px 5px rgba(0, 0, 0, .1)
        margin: 0 2px
        border: 1px solid #aeaeae
        border-top: 0
        position: absolute
        top: 30px
        left: 0
        right: 0
        z-index: 1
        box-shadow: 0 15px 13px rgba(0, 0, 0, .2)
        transition: opacity .2s, transform .2s

        &--hide
            opacity: 0
            transform: translateY(-10px)

        li
            padding: 6px 13px
            margin: 0
            transition: background-color .1s
            cursor: pointer
            user-select: none
            border-bottom: 1px solid #d2cccc

            &:hover
                background-color: #f0f0f0

            &:nth-child(odd)
                background-color: #f9f9f9

                &:hover
                    background-color: #f0f0f0

            &:last-child
                border-radius: 0 0 8px 8px
                border: 0
