.sho-menu__actions
    display: flex
    align-items: center
    justify-content: center
    gap: 8px
    position: absolute
    right: 8px
    top: 9px

    &__item
        color: black
        background-color: white
        width: 35px
        height: 35px
        display: flex
        justify-content: center
        align-items: center
        border-radius: 50%
        border: 1px solid black
        cursor: pointer
        opacity: .8
        transition: all 200ms

        &:hover
            color: $gold-color
            border-color: $gold-color
            opacity: 1
