.sho-menu__dishes
    &__section
        //

    &__category
        text-align: center

    &__item
        padding: 16px
        display: flex
        cursor: pointer
        border-bottom: 1px solid #eee
