@mixin dish-price()
    font-family: "Montserrat-Bold", sans-serif
    color: $gold-color

@mixin dish-title-lg()
    font-family: "Montserrat-Bold", sans-serif
    font-size: 1.2rem
    margin: 0

@mixin dish-title-sm()
    font-size: 1rem

@mixin dish-description()
    font-size: .9rem
    margin: 3px 0
    opacity: .9

    p:last-child
        margin: 0

@mixin dish-weight()
    font-size: .7em
    color: #666
    display: inline-flex
    align-items: center
    gap: 4px
    margin-top: 4px