.sho-menu-recommended
    list-style: none
    padding: 0
    margin: 12px 0 0 0
    display: flex
    flex-direction: column
    gap: 8px

    li
        margin: 0
        padding: 8px
        border: 1px solid #e6e6e6
        border-radius: 6px

        a
            text-decoration: none
            color: black
            display: flex
            gap: 14px
            align-items: center

            img
                height: 80px
                border-radius: 8px