$font-color: black

.sho-menu__sidebar
    width: 270px

    &__label
        color: #777
        margin-bottom: 7px
        display: inline-block

    & > ul
        list-style: none
        padding: 0
        margin: 0

        & > li
            font-weight: bold
            color: #424242
            cursor: pointer
            transition: color 0.3s
            border-bottom: 1px solid #eee
            padding-bottom: 5px
            margin-bottom: 3px
            user-select: none

            &.is-selected
                color: $gold-color

            &:hover
                color: $gold-color

            &:last-child
                border-bottom: none
                margin-bottom: 0
                padding-bottom: 0

            ul
                list-style: none
                margin: 0
                padding: 0 0 0 15px

                li
                    color: $font-color
                    font-weight: bold
                    font-size: .75em
                    padding: 3px 0

                    &.is-selected
                        color: $gold-color

                    &:hover
                        color: $gold-color

                    &:last-child
                        margin-bottom: 0