.sho-menu__sidebar
    min-width: 250px
    position: sticky
    top: 5px
    max-height: calc(100vh - 5px)
    overflow-y: auto
    background-color: white

    .admin-bar &
        top: 35px
        max-height: calc(100vh - 35px)

    &::-webkit-scrollbar
        width: 1px

    &__empty
        font-size: .9em
        line-height: 1.2

    &__label
        color: #777
        margin-bottom: 7px
        display: inline-block

    & > ul
        list-style: none
        padding: 0
        margin: 0

        & > li
            font-weight: bold
            color: #424242
            cursor: pointer
            transition: color 0.3s
            border-bottom: 1px solid #eee
            padding: 5px 0
            user-select: none
            font-family: "Montserrat-Bold", serif
            line-height: 1.4
            font-size: .9em

            & > svg
                display: none
                pointer-events: none

            &.is-selected
                color: $gold-color

            &:hover
                color: $gold-color

            &:last-child
                border-bottom: none
                margin-bottom: 0
                padding-bottom: 0

            ul
                list-style: none
                margin: 3px 0 0 0
                padding: 0 0 0 15px

                li
                    color: black
                    font-weight: bold
                    font-size: .9em
                    padding: 3px 0
                    font-family: "Montserrat-Regular", serif
                    margin-bottom: 3px
                    word-wrap: break-word

                    &.is-selected
                        color: $gold-color

                    &:hover
                        color: $gold-color

                    &:last-child
                        margin-bottom: 0

@media (max-width: 810px)
    .sho-menu__sidebar
        min-width: 100%
        overflow: visible

        &--hide
            display: none

        & > ul
            & > li
                display: flex
                align-items: center
                justify-content: space-between
                padding: 15px 18px !important
                font-size: 1.2em
                border-radius: 7px
                box-shadow: $shadow
                margin-bottom: 8px

                & > svg
                    display: inline-block

                ul
                    display: none