// Colors
$gold-color: #a57315
$gold-color-lighter: #e5b660
$dark-bg: #10171e
$dark-bg-hover: #0c1218
$darken-bg-hover: #070c11
$dark-border-color: #444

// Dishes
$dishes-padding: 40px 20px
$dishes-radius: 15px

$shadow: 1px 1px 8px rgba(0, 0, 0, .3)
