@import "variables"
@import "mixins"
@import "fonts"
@import "animations"
@import "sidebar"
@import "dish-popup"
@import "dishes/dishes"
@import "dishes/category"
@import "dishes/item"
@import "dishes/loading-item"
@import "dishes/categories-bar"
@import "dishes/designations"

$border-radius: 15px

.sho-menu
    background-color: #fff
    font-family: "Montserrat-Regular", serif
    position: relative
    color: black

    .sho-dark-theme &
        background-color: $dark-bg
        color: #eee

    &__sidebar-btn
        display: none
        justify-content: space-between
        align-items: center
        gap: 5px
        cursor: pointer
        border-radius: 50px
        border: 1px solid #dcdcdc
        background-color: rgba(255, 255, 255, .9)
        height: 40px
        color: black
        font-size: .9em
        padding: 2px 20px 2px 12px
        position: absolute
        bottom: 8px
        left: 11px

    &__header
        position: relative

        img
            border-radius: $border-radius $border-radius 0 0
            width: 100%
            height: 250px
            object-fit: cover
            object-position: center

    &__columns
        display: flex
        gap: 14px
        padding: 10px

@media (max-width: 800px)
    .sho-menu
        &__header
            img
                height: 130px
                border-radius: $border-radius
                box-shadow: $shadow

        &__sidebar-btn
            display: inline-flex