@import "variables"
@import "mixins"
@import "fonts"
@import "sidebar"
@import "dish-popup"
@import "dishes/dishes"
@import "dishes/category"
@import "dishes/item"
@import "dishes/categories-bar"

$border-radius: 15px

.sho-menu
    background-color: #fff
    font-family: "Montserrat-Regular", serif
    position: relative

    &__header
        img
            border-radius: $border-radius $border-radius 0 0
            width: 100%
            height: 300px
            object-fit: cover
            object-position: center

    &__columns
        display: flex
        gap: 14px
        padding: 10px

@media (max-width: 800px)
    .sho-menu
        &__header
            img
                border-radius: $border-radius
                box-shadow: $shadow